:root {
    --primary: #1e3d59;
    --secondary: #f5f0e1;
    --accent: #ff6e40;
    --text: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: var(--text);
    background: var(--secondary);
}

header {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

main{
    position: relative;
    min-height: calc(100vh - 166px);
}
main::after{
    z-index: -1;
    content: "";
    background-image: url('../images/salto-angel.webp');
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.data.card{
    top: 30px;
    left: 30px;
}
.weather.card{
    bottom: 30px;
    right: 30px;
}
.card{
    position: absolute;
    background-color: var(--secondary);
    color: var(--primary);
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--primary);
}
.card ul, .card p{
    padding: 10px;
}
.photo-mobile{
    display: none;
    width: 100%;
    height: 500px;
    min-height: 70vh;
    object-fit: cover;
}
.weather.title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--secondary);
}
footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}