@media (width <= 600px) {
    .photo-mobile{
        display: block;
    }
    main::after{
        display: none;
    }
    .card{
        position: relative;
        width: auto;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        margin: 20px;
    }
}